














footer{
    background-image: linear-gradient(to right, chartreuse,aquamarine, darkorange);
    float: left;
    display: inline;
    width: 100%;
    color: rgba(0,0,0,0.5);
    padding-left: 15px;
}
#footer{
    color: #6610f2;
}
footer ul{
    display: inline;
}
footer ul li{
    display: inline;
}
footer a:hover{
    color: #6610f2;
    font-weight: bolder;
}
